/var/log/nginx/*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    sharedscripts
    create 0640 {{ container_web_user }} {{ container_log_group }}
    postrotate
        nginx -s reopen >/dev/null 2>&1 || true
    endscript
}

