/var/log/nginx/*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    sharedscripts
    create 0640 {{ web_container_user }} {{ web_container_log_group }}
    postrotate
        nginx -s reopen >/dev/null 2>&1 || true
    endscript
}

