server {
    listen {{ web_nginx_listen_port }};
    server_name _;

    root {{ web_php_web_root }};
    index index.php index.html;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    location /healthz {
        default_type application/json;
        return 200 '{"status":"ok","service":"nginx","env":"{{ web_app_env }}"}';
    }

    location = /healthz-php {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME {{ web_php_web_root }}/healthz.php;
        fastcgi_pass {{ web_php_fpm_upstream }};
        access_log off;
    }

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param APP_ENV "{{ web_app_env }}";
        fastcgi_index index.php;
        fastcgi_pass {{ web_php_fpm_upstream }};
    }

    location ~ /\.ht {
        deny all;
    }
}

